<a href="https://colab.research.google.com/github/TEJAlions/FSDA_Python_assignments/blob/main/pythonAssignment001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignments - 001
## Question 1: Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

- Name undefined error: This Error will come when we use a name which is neither a keyword nor a user defined name like variable or class or function. When pytho interpretor  didnt find a name used in the progran is not exist in the file or in python librairaes then it will throw this Error.

Example 1

In [2]:
print(value)
# Here value is used but it is never definced or it is a keyword

NameError: ignored

Example 2

In [4]:
val = 23;
print(Val);
# Here 'val' is defined as variable but 'Val' is used to print Since python is type sensitive Hence 'Val' is considered as not defined

NameError: ignored

- object is not callable error: This error will come when we try to re-define the predefined functions or keyword and try to use it for different purpose.

In [8]:
int = 34
print(int)
# As we defined int as varaible and assigned 34 in it we can able to print int value as 34
print(int('32'))
#  Here we used 'int' keyworad as variable to store data. But in print statement we tried to typecast string to int using int() function so python throws that object is not callable error

34

TypeError: ignored

In [21]:
# for removing int variable declared by us 
del int

- invalid syntax error: Python gives this error whenever we do not follow python exact syntax. Syntax errors can be lime invalid variable/function/class defnition or incorrect usage of predefined functions

Example 1

In [9]:
1var = 34
# incorrect variable declaration

SyntaxError: ignored

Example 2

In [12]:
if 2>0:
  print('grater')
else
  print('lower')

# incorrect usage of else condition

SyntaxError: ignored

## Question 2: Take input A and B and print their sum, mul, div, square of the nos.

In [14]:
A = float(input("Enter value A "))
B = float(input("Enter value B" ))

print("Sum of A and B is ", A+B)
print("Mul of A and B is ", A*B)
print("A divided by B is ", A/B)
print("A to power of B is ", A**B)

Enter value A 3
Enter value B4
Sum of A and B is  7.0
Mul of A and B is  12.0
A divided by B is  0.75
A to power of B is  81.0

## Question 3: How many reserve keywords are there in python and why we should not use them as a variable name.

ans: There are 33 keywords exist in python as of today. We can use those keywords in our program as a variable but it will change the original function meant for it by python. we we try to reuse the changed keyword as its original, as we override its original function python doesnt recognise its original meaning so it tries to convert use the function which we overrieds but they both are not same so python gives error.

We should never overrides predefined keywords unless we know what we are doing.

- False 
- def
- if
- raise
- None
- del
- import
- return
- True
- elif
- in
- try
- and
- else
- is
- while
- as
- except
- lambda
- with
- assert
- finally
- nonlocal
- yield
- break
- for
- not	
- class
- from
- or	
- continue
- global
- pass

## Question 4: Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [15]:
firstName = input("Enter First name of user ")
lastName = input("Enter Last name of user ")
domain = "mymail"

userEmail = lastName+"."+firstName+"@"+domain+".com"

print("email of the user is "+userEmail)

Enter First name of user teja
Enter Last name of user pellure
email of the user is pellure.teja@mymail.com

## Question 5: Try to print the following lines -
- Hi I'm Sunny
- My address is 22\3
- I earn 20$ daily.

In [17]:
print("Hi I'm Sunny")
print("My address is 22\\3")
print("I earn 20$ daily")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily

## Question 6: Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [19]:
name = input("Enter Name ")
address = input("Enter Address ")
dob = input("Enter Date of brith")
email = name+"@"+"primaryshool.com"
print(f"email of {name} is {email}")

Enter Name teja
Enter Address my village near my town my state
Enter Date of brith01010101
email of teja is teja@primaryshool.com

## Question 7: Convert the following -
- "22.4" into integer
- "22" into complex no.

In [31]:
val1 = "22.4"
val1Int = int(float(val1))
print(val1Int)

val2 = "22"
val2comp = complex(val2)
print(val2comp)

22
(22+0j)